.ts04-Body,.ts04-List-Bullet,.ts02-Subhead
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

#u4002-4
{
	font-family: allan-n7, sans-serif;
}

#u4673-4
{
	font-family: allan-n7, sans-serif;
}

#u4699-4
{
	font-family: allan-n7, sans-serif;
}

#u4739-4
{
	font-family: allan-n7, sans-serif;
}

#u4763-4
{
	font-family: allan-n7, sans-serif;
}

#u3995-4
{
	font-family: allan-n7, sans-serif;
}

#u3765-4,#u3769-4,#u3877-4
{
	font-family: allan-n7, sans-serif;
}

#u4829-4
{
	font-family: bad-script-n4, cursive;
}

#u12395-3,#u12395-6,#u12395-9,#u12395-12,#u12395-15,#u12395-18,#u12395-21,#u12396-14
{
	font-family: maven-pro-n5, sans-serif;
}

#u7847-10
{
	font-family: maven-pro-n4, sans-serif;
}

