.version.index /* version checker */
{
	color: #0000E3;
	background-color: #7DBC22;
}

.html
{
	background-color: #E2DFDF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 400px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2DFDF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -3px;
	margin-bottom: -20px;
}

#pu10160
{
	width: 0.01px;
	margin-left: -100px;
}

#u10160
{
	z-index: 2;
	height: 183px;
}

#u10160-bw
{
	z-index: 2;
	margin-top: 2px;
	height: 183px;
}

#u9315
{
	z-index: 3;
	border-style: none;
	border-color: transparent;
	background-color: #3291C3;
	padding-bottom: 151px;
}

#u9315_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u6593
{
	z-index: 98;
	width: 876px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 180px;
}

#u6565
{
	z-index: 99;
	width: 874px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
}

#u6565_position_content
{
	margin-bottom: -7px;
	padding-top: 19px;
}

#pu6566
{
	width: 0.01px;
	margin-left: 347px;
}

#u6566
{
	z-index: 110;
	width: 198px;
	position: relative;
	margin-right: -10000px;
}

#u6567
{
	z-index: 111;
	width: 130px;
	margin-left: 34px;
	position: relative;
}

#u6569-4
{
	z-index: 113;
	width: 198px;
	min-height: 77px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u6579
{
	z-index: 117;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 243px;
}

#u6581
{
	z-index: 118;
	width: 164px;
	margin-left: 31px;
	position: relative;
}

#u6580-4
{
	z-index: 120;
	width: 234px;
	min-height: 67px;
	margin-top: 2px;
	position: relative;
}

#pu6575
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 38px;
}

#u6575
{
	z-index: 131;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6576
{
	z-index: 132;
	width: 221px;
	margin-left: 14px;
	position: relative;
}

#u6578-4
{
	z-index: 134;
	width: 265px;
	min-height: 82px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u6557
{
	z-index: 124;
	width: 210px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 301px;
}

#u6558
{
	z-index: 125;
	width: 196px;
	position: relative;
}

#u6560-4
{
	z-index: 127;
	width: 210px;
	min-height: 88px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u6561
{
	z-index: 138;
	width: 246px;
	position: relative;
	margin-right: -10000px;
	left: 556px;
}

#u6562
{
	z-index: 139;
	width: 200px;
	margin-left: 13px;
	position: relative;
}

#u6564-4
{
	z-index: 141;
	width: 246px;
	min-height: 59px;
	margin-top: 13px;
	position: relative;
}

#u6574
{
	z-index: 102;
	width: 874px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FF6C10;
	margin-top: 29px;
	position: relative;
}

#u6583
{
	z-index: 100;
	width: 598px;
	position: relative;
	margin-right: -10000px;
}

#u6583_img
{
	padding-bottom: 1px;
}

#u6570
{
	z-index: 103;
	width: 209px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 44px;
}

#u6571
{
	z-index: 104;
	width: 175px;
	margin-left: 6px;
	position: relative;
}

#u6573-4
{
	z-index: 106;
	width: 209px;
	min-height: 83px;
	margin-top: 1px;
	position: relative;
}

#u6592
{
	z-index: 145;
	width: 874px;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: #FF6C10;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 2px;
}

#u9315-bw
{
	z-index: 3;
	margin-top: 572px;
	height: 488px;
}

#u9107
{
	z-index: 4;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u9107-bw
{
	z-index: 4;
	margin-top: 3px;
	height: 589px;
}

#u3289
{
	z-index: 96;
	height: 94px;
	width: 831px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
	left: 201px;
	background: url("../images/u3289.png") no-repeat 0px 0px;
}

#u3289:hover
{
	background: url("../images/u3289-r.png") no-repeat 0px 0px;
}

#pamphletu11482
{
	z-index: 146;
	width: 0.01px;
	height: 372px;
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 120px;
}

#u11491
{
	z-index: 147;
	width: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 326px;
	left: 402px;
}

#u11492
{
	position: absolute;
	width: 44px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
}

#u11492:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #80BDC5;
	width: 43px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u11493
{
	position: absolute;
	width: 45px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	left: 60px;
}

#u11493:hover
{
	border-color: #999999;
	background-color: #80BDC5;
	margin: 0px;
}

#u11493.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #1A6992;
	margin: 0px;
}

#u11494
{
	position: absolute;
	width: 45px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: #80BDC5;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	left: 120px;
}

#u11494:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #80BDC5;
	width: 44px;
	height: 44px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u11492.PamphletThumbSelected,#u11494.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #1A6992;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	margin: 0px;
}

#u11483
{
	position: absolute;
	width: 985px;
}

#u11483popup
{
	z-index: 151;
}

#u11484
{
	z-index: 152;
	width: 983px;
	height: 306px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
}

#u11517
{
	z-index: 153;
	width: 984px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u11486
{
	z-index: 155;
	width: 983px;
	height: 306px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #C4C4C4;
	margin-right: -10000px;
	position: relative;
}

#u11512
{
	z-index: 156;
	width: 984px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u11485
{
	z-index: 158;
	width: 984px;
	height: 307px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
}

#u11507
{
	z-index: 159;
	width: 984px;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4956
{
	z-index: 161;
	width: 984px;
	margin-right: -10000px;
	left: 120px;
}

#u4956_img
{
	padding-top: 4px;
	padding-right: 46px;
	padding-bottom: 10px;
}

#menuu3960
{
	z-index: 163;
	width: 896px;
	margin-right: -10000px;
	margin-top: 152px;
	left: 167px;
}

#u3999
{
	width: 114px;
	min-height: 33px;
	margin-right: -10000px;
}

#u4000
{
	width: 114px;
	padding-bottom: 10px;
}

#u4000:hover
{
	margin: 0px;
}

#u4002-4
{
	width: 38px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 38px;
}

#u4000:hover #u4002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u4671
{
	width: 173px;
	min-height: 33px;
	margin-right: -10000px;
	left: 116px;
}

#u4672
{
	width: 173px;
	padding-bottom: 10px;
}

#u4000.MuseMenuActive,#u4672:hover
{
	margin: 0px;
}

#u4673-4
{
	width: 98px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u4000.MuseMenuActive #u4002-4,#u4672:hover #u4673-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u4695
{
	width: 154px;
	min-height: 33px;
	margin-right: -10000px;
	left: 291px;
}

#u4696
{
	width: 154px;
	padding-bottom: 10px;
}

#u4672.MuseMenuActive,#u4696:hover
{
	margin: 0px;
}

#u4699-4
{
	width: 79px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u4672.MuseMenuActive #u4673-4,#u4696:hover #u4699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u4735
{
	width: 158px;
	min-height: 33px;
	margin-right: -10000px;
	left: 447px;
}

#u4738
{
	width: 158px;
	padding-bottom: 10px;
}

#u4696.MuseMenuActive,#u4738:hover
{
	margin: 0px;
}

#u4739-4
{
	width: 83px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u4696.MuseMenuActive #u4699-4,#u4738:hover #u4739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u4759
{
	width: 152px;
	min-height: 33px;
	margin-right: -10000px;
	left: 607px;
}

#u4762
{
	width: 152px;
	padding-bottom: 10px;
}

#u4738.MuseMenuActive,#u4762:hover
{
	margin: 0px;
}

#u4763-4
{
	width: 77px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u4738.MuseMenuActive #u4739-4,#u4762:hover #u4763-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u3992
{
	width: 135px;
	min-height: 33px;
	margin-right: -10000px;
	left: 761px;
}

#u3993
{
	width: 135px;
	padding-bottom: 10px;
}

#u4762.MuseMenuActive,#u3993:hover
{
	margin: 0px;
}

#u3993.MuseMenuActive
{
	margin: 0px;
}

#u3995-4
{
	width: 60px;
	min-height: 23px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u4762.MuseMenuActive #u4763-4,#u3993:hover #u3995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u3993.MuseMenuActive #u3995-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u4339
{
	z-index: 200;
	width: 356px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 434px;
}

#u4339_img
{
	padding-right: 6px;
}

#pu3765-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 33px;
}

#u3765-4
{
	z-index: 9;
	width: 183px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3769-4
{
	z-index: 13;
	width: 139px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 395px;
}

#u3877-4
{
	z-index: 17;
	width: 254px;
	min-height: 25px;
	margin-right: -10000px;
	left: 673px;
}

#pu3763-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 4px;
}

#u3763-4
{
	z-index: 5;
	width: 530px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 225px;
}

#u3767-20
{
	z-index: 21;
	width: 231px;
	min-height: 238px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 27px;
}

#u4445
{
	z-index: 41;
	width: 977px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 220px;
}

#u4829-4
{
	z-index: 42;
	width: 254px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 669px;
}

#u5584
{
	z-index: 46;
	width: 10px;
	margin-right: -10000px;
	margin-top: 132px;
	left: 18px;
}

#u5596
{
	z-index: 48;
	width: 9px;
	margin-right: -10000px;
	margin-top: 161px;
	left: 18px;
}

#u5601
{
	z-index: 50;
	width: 15px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 15px;
}

#u9073
{
	z-index: 52;
	width: 250px;
	min-height: 106px;
	margin-right: -10000px;
	margin-top: 105px;
	left: 686px;
}

#u9499
{
	z-index: 53;
	width: 44px;
	height: 43px;
	margin-right: -10000px;
	left: 858px;
}

#u12395-24
{
	z-index: 54;
	width: 89px;
	min-height: 171px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 361px;
}

#u12396-14
{
	z-index: 78;
	width: 128px;
	min-height: 133px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 477px;
}

#u9317
{
	z-index: 92;
	width: 44px;
	height: 43px;
	margin-right: -10000px;
	left: 752px;
}

#u9319
{
	z-index: 93;
	width: 44px;
	height: 43px;
	margin-right: -10000px;
	left: 700px;
}

#u9323
{
	z-index: 94;
	width: 44px;
	height: 43px;
	margin-right: -10000px;
	left: 805px;
}

#u9499:hover,#u9317:hover,#u9319:hover,#u9323:hover
{
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

