#u10160
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u4000
{
	background-color: #FF6C10;
	-moz-border-radius: 10px 0px 0px 0px ;
	-webkit-border-radius: 10px 0px 0px 0px ;
	-khtml-border-radius: 10px 0px 0px 0px ;
	border-radius: 10px 0px 0px 0px ;
	position: relative;
}

#u4000:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #9E005D;
}

#u4002-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4672
{
	background-color: #FF6C10;
	position: relative;
}

#u4672:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #006837;
}

#u4673-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4696
{
	background-color: #FF6C10;
	position: relative;
}

#u4696:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
}

#u4699-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4738
{
	background-color: #FF6C10;
	position: relative;
}

#u4738:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
}

#u4739-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4762
{
	background-color: #FF6C10;
	position: relative;
}

#u4762:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #264C5D;
}

#u4763-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3993
{
	background-color: #FF6C10;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	position: relative;
}

#u3993:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
}

#u4000.MuseMenuActive,#u4672.MuseMenuActive,#u4696.MuseMenuActive,#u4738.MuseMenuActive,#u4762.MuseMenuActive,#u3993.MuseMenuActive
{
	border-color: #000000;
	background-color: #662D91;
}

#u3995-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 19px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u4000.MuseMenuActive #u4002-4,#u4672.MuseMenuActive #u4673-4,#u4696.MuseMenuActive #u4699-4,#u4738.MuseMenuActive #u4739-4,#u4762.MuseMenuActive #u4763-4,#u3993.MuseMenuActive #u3995-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u3765-4
{
	color: #000000;
	font-size: 20px;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3769-4
{
	color: #000000;
	font-size: 20px;
	text-align: left;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3877-4
{
	color: #2F2D2D;
	font-size: 20px;
	text-align: left;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3763-4
{
	color: #5D5C5C;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u3767-20
{
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u3767-2
{
	font-size: 15px;
	text-align: justify;
	line-height: 1.18;
	text-indent: 10px;
	color: #000000;
	font-weight: normal;
}

#u3767-5
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u3767-9,#u3767-12
{
	font-size: 12px;
	text-align: left;
	color: #000000;
	font-weight: bold;
}

#u3767,#u3767-4,#u3767-8,#u3767-11
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3767-3,#u3767-6,#u3767-7,#u3767-10,#u3767-13,#u3767-14
{
	font-size: 12px;
	text-align: left;
	color: #000000;
	font-weight: normal;
}

#u3767-15,#u3767-16,#u3767-17
{
	font-size: 12px;
	text-align: justify;
	color: #000000;
	font-weight: normal;
}

#u3767-18
{
	font-size: 12px;
	text-align: justify;
}

#u4445
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	position: relative;
}

#u4829-4
{
	color: #2F2D2D;
	font-size: 18px;
	text-align: center;
	font-family: bad-script, cursive;
	font-weight: 400;
	position: relative;
}

#u9073
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9499
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #F4D558 url("../images/blogger.png") no-repeat center center;
}

#u4956,#menuu3960,#u3999,#u4671,#u4695,#u4735,#u4759,#u3992,#u4339,#u5584,#u5596,#u5601,#u12395-24
{
	position: relative;
}

#u12395-3,#u12395-6,#u12395-9,#u12395-12,#u12395-15,#u12395-18,#u12395-21
{
	font-size: 15px;
	line-height: 1.5;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
}

#u12396-14
{
	line-height: 1.5;
	font-size: 15px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9317
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #85B9EA url("../images/twitter.png") no-repeat center center;
}

#u9319
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #6678C5 url("../images/facebook.png") no-repeat center center;
}

#u9323
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #607BA1 url("../images/tumblr.png") no-repeat center center;
}

#u9499:hover,#u9317:hover,#u9319:hover,#u9323:hover
{
	background-repeat: no-repeat;
	background-position: center center;
}

