.version.disenografico /* version checker */
{
	color: #0000E8;
	background-color: #BFACB7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #E2DFDF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 485px;
}

#pu12050
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -2px;
}

#u12050
{
	z-index: 2;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 1px;
}

#u12051
{
	z-index: 36;
	width: 353px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#u12053
{
	z-index: 37;
	width: 150px;
	margin-left: 103px;
	position: relative;
}

#u12070
{
	z-index: 38;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12064
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12084
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12074
{
	z-index: 44;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12062
{
	z-index: 46;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12066
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12058
{
	z-index: 50;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12080
{
	z-index: 52;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12068
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12072
{
	z-index: 56;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12054
{
	z-index: 58;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12078
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12056
{
	z-index: 62;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12060
{
	z-index: 64;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12082
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u12076
{
	z-index: 68;
	width: 150px;
	position: relative;
	margin-right: -10000px;
}

#u12052-12
{
	z-index: 70;
	width: 353px;
	min-height: 223px;
	text-indent: 13px;
	font-size: 15px;
	text-align: justify;
	font-family: maven-pro, sans-serif;
	font-weight: 400;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u12052-2,#u12052-4,#u12052-5
{
	padding-bottom: 4px;
	color: #FFFFFF;
}

#u12052-10
{
	padding-bottom: 4px;
}

#u12052-6,#u12052-9
{
	color: #FFFFFF;
}

#u8537
{
	z-index: 34;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 1px;
}

#u11958,#u11958-bw
{
	z-index: 85;
	height: 74px;
}

#u11952
{
	z-index: 86;
	width: 382px;
	margin-right: -10000px;
}

#u11952_clip
{
	width: 382px;
	height: 90px;
}

#u11952_img
{
	margin-left: -18px;
	margin-right: -16px;
	margin-bottom: 15px;
}

#u12702
{
	z-index: 88;
	width: 60px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 315px;
}

#accordionu12607wrapper
{
	min-height: 213px;
	z-index: 89;
	margin-right: -10000px;
	margin-top: 40px;
	left: 2px;
}

#accordionu12607
{
	z-index: 89;
}

#u12612
{
	z-index: 90;
}

#u12613-4
{
	z-index: 91;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u12613-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u12613-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u12614
{
	z-index: 95;
}

#menuu12620
{
	z-index: 96;
	width: 378px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u12621
{
	width: 378px;
}

#u12624
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12624:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12624:active
{
	margin: 0px -10000px 0px 0px;
}

#u12629
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12624.MuseMenuActive,#u12629:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12629:active
{
	margin: 0px -10000px 0px 0px;
}

#u12636
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12629.MuseMenuActive,#u12636:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12636:active
{
	margin: 0px -10000px 0px 0px;
}

#u12645
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12636.MuseMenuActive,#u12645:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12645:active
{
	margin: 0px -10000px 0px 0px;
}

#u12652
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12645.MuseMenuActive,#u12652:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12652:active
{
	margin: 0px -10000px 0px 0px;
}

#u12628,#u12635,#u12642,#u12649,#u12656
{
	width: 378px;
	margin-top: 2px;
}

#u12657
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12652.MuseMenuActive,#u12657:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12657:active
{
	margin: 0px -10000px 0px 0px;
}

#u12657.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12626-4,#u12632-4,#u12637-4,#u12646-4,#u12655-4,#u12659-4
{
	width: 378px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#accordionu12607-bw
{
	z-index: 89;
	height: 34px;
}

#u11954
{
	z-index: 133;
	width: 172px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 107px;
}

#u11954_img
{
	padding-right: 3px;
}

#pu8138-4
{
	width: 0.01px;
	margin: 639px -10000px -22px 17px;
}

#u8138-4
{
	z-index: 3;
	width: 294px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 26px;
}

#u8141-4
{
	z-index: 7;
	width: 145px;
	min-height: 18px;
	margin-right: -10000px;
	left: 205px;
}

#u11959
{
	z-index: 11;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 275px;
}

#u11972
{
	z-index: 12;
	width: 176px;
	margin-right: -10000px;
}

#u8139-4
{
	z-index: 13;
	width: 144px;
	min-height: 13px;
	margin-left: 10px;
}

#u8142-17
{
	z-index: 17;
	width: 176px;
	min-height: 110px;
}

#u11960
{
	z-index: 82;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 275px;
}

#u11961
{
	z-index: 83;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 236px;
}

#u11960:hover,#u11961:hover
{
	margin: 22px -10000px 0px 0px;
}

#u11962
{
	z-index: 84;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 236px;
}

#u11959:hover,#u11962:hover
{
	margin: 62px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -639px;
}

