.version.portafolios /* version checker */
{
	color: #0000FA;
	background-color: #60920E;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #E2DFDF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 485px;
}

#page_position_content
{
	margin-bottom: -22px;
}

#pu12331
{
	width: 0.01px;
	margin-left: -2px;
}

#u12331
{
	z-index: 2;
	height: 492px;
	border-style: none;
	border-color: transparent;
	background-color: #F2AB7F;
}

#u12331-bw
{
	z-index: 2;
	margin-top: 176px;
	height: 492px;
}

#u12163
{
	z-index: 3;
	width: 381px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #FFCB00;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 1px;
}

#tab-panelu12165
{
	z-index: 5;
	width: 380px;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 1px;
}

#u12166
{
	z-index: 6;
	width: 380px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/fabiola2012-1.jpg") no-repeat left top;
}

#pu12207
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
}

#u12207
{
	z-index: 8;
	width: 24px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 2px;
	background: #DEDEDE url("../../images/comandos_acuarela-u12207-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12207:hover ._u12207.f3s_top
{
	background-image: url("../../images/u12207-r-full.png");
	height: 84px;
	background-position: left top;
	width: 24px;
}

#pu12207.TabbedPanelsTabSelected ._u12207.f3s_top
{
	background-image: url("../../images/u12207-a-full.png");
	height: 82px;
	background-position: left top;
	width: 24px;
}

#pu12207:hover #u12207,#pu12207.TabbedPanelsTabSelected #u12207
{
	width: 24px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu12231
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 21px;
}

#u12231
{
	z-index: 12;
	width: 22px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/apto_entrada-u12231-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12231:hover ._u12231.f3s_top
{
	background-image: url("../../images/u12231-r-full.png");
	height: 84px;
	background-position: left top;
	width: 26px;
}

#pu12231.TabbedPanelsTabSelected ._u12231.f3s_top
{
	background-image: url("../../images/u12231-a-full.png");
	height: 82px;
	background-position: left top;
	width: 24px;
}

#pu12175
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 44px;
}

#u12175
{
	z-index: 16;
	width: 22px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/afiche%20elecciones%20aeinf-u12175-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12175:hover ._u12175.f3s_top
{
	background-image: url("../../images/u12175-r-full.png");
	height: 84px;
	background-position: left top;
	width: 26px;
}

#pu12175.TabbedPanelsTabSelected ._u12175.f3s_top
{
	background-image: url("../../images/u12175-a-full.png");
	height: 82px;
	background-position: left top;
	width: 24px;
}

#pu12223
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 67px;
}

#u12223
{
	z-index: 20;
	width: 22px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/2013-08-29-u12223-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12223:hover ._u12223.f3s_top
{
	background-image: url("../../images/u12223-r-full.png");
	height: 84px;
	background-position: left top;
	width: 26px;
}

#pu12223.TabbedPanelsTabSelected ._u12223.f3s_top
{
	background-image: url("../../images/u12223-a-full.png");
	height: 82px;
	background-position: left top;
	width: 24px;
}

#pu12167
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 90px;
}

#u12167
{
	z-index: 24;
	width: 22px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/expoferia%20casub-u12167-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12231:hover #u12231,#pu12175:hover #u12175,#pu12223:hover #u12223,#pu12167:hover #u12167
{
	width: 26px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu12167:hover ._u12167.f3s_top
{
	background-image: url("../../images/u12167-r-full.png");
	height: 84px;
	background-position: left top;
	width: 26px;
}

#pu12167.TabbedPanelsTabSelected ._u12167.f3s_top
{
	background-image: url("../../images/u12167-a-full.png");
	height: 82px;
	background-position: left top;
	width: 24px;
}

#pu12231.TabbedPanelsTabSelected #u12231,#pu12175.TabbedPanelsTabSelected #u12175,#pu12223.TabbedPanelsTabSelected #u12223,#pu12167.TabbedPanelsTabSelected #u12167
{
	width: 24px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 2px;
}

#pu12235
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 113px;
}

#u12235
{
	z-index: 28;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/fabiola2012-1-u12235-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12235:hover ._u12235.f3s_top
{
	background-image: url("../../images/u12235-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12235.TabbedPanelsTabSelected ._u12235.f3s_top
{
	background-image: url("../../images/u12235-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12171
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 137px;
}

#u12171
{
	z-index: 32;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/edificio%20a-modelado-u12171-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12171:hover ._u12171.f3s_top
{
	background-image: url("../../images/u12171-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12171.TabbedPanelsTabSelected ._u12171.f3s_top
{
	background-image: url("../../images/u12171-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12199
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 161px;
}

#u12199
{
	z-index: 36;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/comandos_group_3d-u12199-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12199:hover ._u12199.f3s_top
{
	background-image: url("../../images/u12199-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12199.TabbedPanelsTabSelected ._u12199.f3s_top
{
	background-image: url("../../images/u12199-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12203
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 185px;
}

#u12203
{
	z-index: 40;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/comandos_group%202011-u12203-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12203:hover ._u12203.f3s_top
{
	background-image: url("../../images/u12203-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12203.TabbedPanelsTabSelected ._u12203.f3s_top
{
	background-image: url("../../images/u12203-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12179
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 209px;
}

#u12179
{
	z-index: 44;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/primer_render_apto-u12179-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12179:hover ._u12179.f3s_top
{
	background-image: url("../../images/u12179-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12179.TabbedPanelsTabSelected ._u12179.f3s_top
{
	background-image: url("../../images/u12179-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12227
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 233px;
}

#u12227
{
	z-index: 48;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/modelado3d-2-u12227-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12227:hover ._u12227.f3s_top
{
	background-image: url("../../images/u12227-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12227.TabbedPanelsTabSelected ._u12227.f3s_top
{
	background-image: url("../../images/u12227-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12191
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 257px;
}

#u12191
{
	z-index: 52;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/maryanbrienta-ilustracionps-u12191-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12191:hover ._u12191.f3s_top
{
	background-image: url("../../images/u12191-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12191.TabbedPanelsTabSelected ._u12191.f3s_top
{
	background-image: url("../../images/u12191-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12195
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 281px;
}

#u12195
{
	z-index: 56;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/marizel-vector-u12195-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12195:hover ._u12195.f3s_top
{
	background-image: url("../../images/u12195-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12195.TabbedPanelsTabSelected ._u12195.f3s_top
{
	background-image: url("../../images/u12195-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12215
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 305px;
}

#u12215
{
	z-index: 60;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/logotipo%202012%20compadresca-u12215-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12215:hover ._u12215.f3s_top
{
	background-image: url("../../images/u12215-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12215.TabbedPanelsTabSelected ._u12215.f3s_top
{
	background-image: url("../../images/u12215-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12187
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 329px;
}

#u12187
{
	z-index: 64;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/ilustracion%20fabiola-u12187-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12187:hover ._u12187.f3s_top
{
	background-image: url("../../images/u12187-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12187.TabbedPanelsTabSelected ._u12187.f3s_top
{
	background-image: url("../../images/u12187-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12183
{
	width: 0.01px;
	position: relative;
	margin-bottom: -2px;
	margin-right: -10000px;
	left: 353px;
}

#u12183
{
	z-index: 68;
	width: 23px;
	height: 80px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 2px;
	border-width: 0px 0px 2px 2px;
	background: #DEDEDE url("../../images/730dias_andrea-u12183-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu12235:hover #u12235,#pu12171:hover #u12171,#pu12199:hover #u12199,#pu12203:hover #u12203,#pu12179:hover #u12179,#pu12227:hover #u12227,#pu12191:hover #u12191,#pu12195:hover #u12195,#pu12215:hover #u12215,#pu12187:hover #u12187,#pu12183:hover #u12183
{
	width: 27px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pu12183:hover ._u12183.f3s_top
{
	background-image: url("../../images/u12183-r-full.png");
	height: 84px;
	background-position: left top;
	width: 27px;
}

#pu12183.TabbedPanelsTabSelected ._u12183.f3s_top
{
	background-image: url("../../images/u12183-a-full.png");
	height: 82px;
	background-position: left top;
	width: 25px;
}

#pu12235.TabbedPanelsTabSelected #u12235,#pu12171.TabbedPanelsTabSelected #u12171,#pu12199.TabbedPanelsTabSelected #u12199,#pu12203.TabbedPanelsTabSelected #u12203,#pu12179.TabbedPanelsTabSelected #u12179,#pu12227.TabbedPanelsTabSelected #u12227,#pu12191.TabbedPanelsTabSelected #u12191,#pu12195.TabbedPanelsTabSelected #u12195,#pu12215.TabbedPanelsTabSelected #u12215,#pu12187.TabbedPanelsTabSelected #u12187,#pu12183.TabbedPanelsTabSelected #u12183
{
	width: 25px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 2px;
}

#u12239
{
	z-index: 71;
	width: 222px;
	margin-left: 79px;
	margin-top: 8px;
	position: relative;
}

#u12261
{
	z-index: 72;
	width: 334px;
	margin-right: -10000px;
	position: relative;
	left: -57px;
}

#u12262
{
	z-index: 73;
	width: 334px;
	position: relative;
	margin-right: -10000px;
}

#u12255
{
	z-index: 75;
	width: 344px;
	margin-right: -10000px;
	position: relative;
	left: -61px;
}

#u12256
{
	z-index: 76;
	width: 344px;
	position: relative;
	margin-right: -10000px;
}

#u12240
{
	z-index: 78;
	width: 264px;
	margin-bottom: -53px;
	margin-right: -10000px;
	position: relative;
	left: -29px;
}

#u12241
{
	z-index: 79;
	width: 264px;
	position: relative;
	margin-right: -10000px;
}

#u12243
{
	z-index: 81;
	width: 333px;
	margin-right: -10000px;
	position: relative;
	left: -53px;
}

#u12244
{
	z-index: 82;
	width: 333px;
	position: relative;
	margin-right: -10000px;
}

#u12252
{
	z-index: 84;
	width: 247px;
	margin-right: -10000px;
	position: relative;
	left: -13px;
}

#u12253
{
	z-index: 85;
	width: 247px;
	position: relative;
	margin-right: -10000px;
}

#u12249
{
	z-index: 87;
	width: 263px;
	margin-right: -10000px;
	position: relative;
	left: -28px;
}

#u12250
{
	z-index: 88;
	width: 263px;
	position: relative;
	margin-right: -10000px;
}

#u12279
{
	z-index: 90;
	width: 270px;
	margin-right: -10000px;
	position: relative;
	left: -32px;
}

#u12280
{
	z-index: 91;
	width: 270px;
	position: relative;
	margin-right: -10000px;
}

#u12285
{
	z-index: 93;
	width: 320px;
	margin-right: -10000px;
	position: relative;
	left: -49px;
}

#u12286
{
	z-index: 94;
	width: 320px;
	position: relative;
	margin-right: -10000px;
}

#u12291
{
	z-index: 96;
	width: 303px;
	margin-right: -10000px;
	position: relative;
	left: -48px;
}

#u12292
{
	z-index: 97;
	width: 303px;
	position: relative;
	margin-right: -10000px;
}

#u12282
{
	z-index: 99;
	width: 322px;
	margin-right: -10000px;
	position: relative;
	left: -58px;
}

#u12283
{
	z-index: 100;
	width: 322px;
	position: relative;
	margin-right: -10000px;
}

#u12267
{
	z-index: 102;
	width: 342px;
	margin-right: -10000px;
	position: relative;
	left: -60px;
}

#u12268
{
	z-index: 103;
	width: 342px;
	position: relative;
	margin-right: -10000px;
}

#u12276
{
	z-index: 105;
	width: 302px;
	margin-right: -10000px;
	position: relative;
	left: -40px;
}

#u12277
{
	z-index: 106;
	width: 302px;
	position: relative;
	margin-right: -10000px;
}

#u12288
{
	z-index: 108;
	width: 317px;
	margin-right: -10000px;
	position: relative;
	left: -47px;
}

#u12289
{
	z-index: 109;
	width: 317px;
	position: relative;
	margin-right: -10000px;
}

#u12246
{
	z-index: 111;
	width: 338px;
	margin-right: -10000px;
	position: relative;
	left: -65px;
}

#u12247
{
	z-index: 112;
	width: 338px;
	position: relative;
	margin-right: -10000px;
}

#u12247_clip
{
	overflow: hidden;
	width: 338px;
	height: 135px;
}

#u12247_img
{
	margin-bottom: -34px;
}

#u12264
{
	z-index: 114;
	width: 198px;
	margin-right: -10000px;
	position: relative;
	left: 15px;
}

#u12265
{
	z-index: 115;
	width: 198px;
	position: relative;
	margin-right: -10000px;
}

#u12273
{
	z-index: 117;
	width: 222px;
	margin-right: -10000px;
	position: relative;
}

#u12274
{
	z-index: 118;
	width: 222px;
	position: relative;
	margin-right: -10000px;
}

#u12274_img
{
	padding-right: 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u8552
{
	z-index: 152;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 1px;
}

#u11958,#u11958-bw
{
	z-index: 158;
	height: 74px;
}

#u11952
{
	z-index: 159;
	width: 382px;
	margin-right: -10000px;
}

#u11952_clip
{
	width: 382px;
	height: 90px;
}

#u11952_img
{
	margin-left: -18px;
	margin-right: -16px;
	margin-bottom: 15px;
}

#u12702
{
	z-index: 161;
	width: 60px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 315px;
}

#accordionu12607wrapper
{
	min-height: 213px;
	z-index: 162;
	margin-right: -10000px;
	margin-top: 40px;
	left: 2px;
}

#accordionu12607
{
	z-index: 162;
}

#u12612
{
	z-index: 163;
}

#u12613-4
{
	z-index: 164;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u12613-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u12613-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	margin: 0px;
}

#u12614
{
	z-index: 168;
}

#menuu12620
{
	z-index: 169;
	width: 378px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u12621
{
	width: 378px;
}

#u12624
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12624:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12624:active
{
	margin: 0px -10000px 0px 0px;
}

#u12629
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12624.MuseMenuActive,#u12629:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12629:active
{
	margin: 0px -10000px 0px 0px;
}

#u12636
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12629.MuseMenuActive,#u12636:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12636:active
{
	margin: 0px -10000px 0px 0px;
}

#u12645
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12636.MuseMenuActive,#u12645:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12645:active
{
	margin: 0px -10000px 0px 0px;
}

#u12652
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12645.MuseMenuActive,#u12652:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12652:active
{
	margin: 0px -10000px 0px 0px;
}

#u12628,#u12635,#u12642,#u12649,#u12656
{
	width: 378px;
	margin-top: 2px;
}

#u12657
{
	width: 378px;
	min-height: 17px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u12652.MuseMenuActive,#u12657:hover
{
	margin: 0px -10000px 0px 0px;
}

#u12657:active
{
	margin: 0px -10000px 0px 0px;
}

#u12657.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u12626-4,#u12632-4,#u12637-4,#u12646-4,#u12655-4,#u12659-4
{
	width: 378px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#accordionu12607-bw
{
	z-index: 162;
	height: 34px;
}

#u11954
{
	z-index: 206;
	width: 172px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 107px;
}

#u11954_img
{
	padding-right: 3px;
}

#pu12164
{
	width: 0.01px;
}

#u12164
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: #EBEBEB;
}

#u12332
{
	z-index: 120;
	width: 290px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 25px;
}

#u12164-bw
{
	z-index: 4;
	height: 99px;
}

#u12336
{
	z-index: 154;
	width: 121px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 26px;
}

#pu8138-4
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 37px;
}

#u8138-4
{
	z-index: 121;
	width: 294px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 134px;
	left: 26px;
}

#u8141-4
{
	z-index: 125;
	width: 145px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#u11959
{
	z-index: 129;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 275px;
}

#u11972
{
	z-index: 130;
	width: 176px;
	margin-right: -10000px;
}

#u8139-4
{
	z-index: 131;
	width: 144px;
	min-height: 13px;
	margin-left: 10px;
}

#u8142-17
{
	z-index: 135;
	width: 176px;
	min-height: 110px;
}

#u11960
{
	z-index: 155;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 275px;
}

#u11961
{
	z-index: 156;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 236px;
}

#u11960:hover,#u11961:hover
{
	margin: 22px -10000px 0px 0px;
}

#u11962
{
	z-index: 157;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 236px;
}

#u11959:hover,#u11962:hover
{
	margin: 62px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

