.ts04-Body,.ts04-List-Bullet,.ts02-Subhead
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

#u6257-4
{
	font-family: allan-n7, sans-serif;
}

#u6250-4
{
	font-family: allan-n7, sans-serif;
}

#u6213-4
{
	font-family: allan-n7, sans-serif;
}

#u6209-4
{
	font-family: allan-n7, sans-serif;
}

#u6227-4
{
	font-family: allan-n7, sans-serif;
}

#u6221-4
{
	font-family: allan-n7, sans-serif;
}

#u6164-4,#u6165-4,#u6166-4
{
	font-family: allan-n7, sans-serif;
}

#u9075-4
{
	font-family: bad-script-n4, cursive;
}

#u12420-3,#u12420-6,#u12420-9,#u12420-12,#u12420-15,#u12420-18,#u12420-21,#u12421-14
{
	font-family: maven-pro-n5, sans-serif;
}

#u11865-12
{
	font-family: maven-pro-n4, sans-serif;
}

#u11919,#u11921,#u11898
{
	font-family: open-sans-condensed-n3, sans-serif;
}

