#u11547
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
}

#u6200_clip
{
	overflow: hidden;
}

#u6254
{
	background-color: #FF6C10;
	-moz-border-radius: 10px 0px 0px 0px ;
	-webkit-border-radius: 10px 0px 0px 0px ;
	-khtml-border-radius: 10px 0px 0px 0px ;
	border-radius: 10px 0px 0px 0px ;
	position: relative;
}

#u6254:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #9E005D;
}

#u6257-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6247
{
	background-color: #FF6C10;
	position: relative;
}

#u6247:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #006837;
}

#u6250-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6211
{
	background-color: #FF6C10;
	position: relative;
}

#u6211:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #2E3192;
}

#u6213-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6206
{
	background-color: #FF6C10;
	position: relative;
}

#u6206:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
}

#u6209-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6225
{
	background-color: #FF6C10;
	position: relative;
}

#u6225:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #264C5D;
}

#u6227-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6218
{
	background-color: #FF6C10;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	position: relative;
}

#u6218:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
}

#u6254.MuseMenuActive,#u6247.MuseMenuActive,#u6211.MuseMenuActive,#u6206.MuseMenuActive,#u6225.MuseMenuActive,#u6218.MuseMenuActive
{
	border-color: #000000;
	background-color: #662D91;
}

#u6221-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6254.MuseMenuActive #u6257-4,#u6247.MuseMenuActive #u6250-4,#u6211.MuseMenuActive #u6213-4,#u6206.MuseMenuActive #u6209-4,#u6225.MuseMenuActive #u6227-4,#u6218.MuseMenuActive #u6221-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6164-4
{
	color: #000000;
	font-size: 18px;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6165-4
{
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6166-4
{
	color: #2F2D2D;
	font-size: 18px;
	text-align: left;
	font-family: allan, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6167-20
{
	font-size: 12px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u6167-2
{
	text-align: justify;
	line-height: 1.18;
	text-indent: 10px;
	color: #000000;
	font-weight: normal;
}

#u6167-5
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u6167-9,#u6167-12
{
	text-align: left;
	color: #000000;
	font-weight: bold;
}

#u6167,#u6167-4,#u6167-8,#u6167-11
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u6167-3,#u6167-6,#u6167-7,#u6167-10,#u6167-13,#u6167-14
{
	text-align: left;
	color: #000000;
	font-weight: normal;
}

#u6167-15,#u6167-16,#u6167-17
{
	text-align: justify;
	color: #000000;
	font-weight: normal;
}

#u6167-18
{
	text-align: justify;
}

#u9076
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9075-4
{
	color: #2F2D2D;
	font-size: 14px;
	text-align: center;
	font-family: bad-script, cursive;
	font-weight: 400;
	position: relative;
}

#u6163-4
{
	color: #5D5C5C;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u11543
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #F4D558 url("../../images/blogger.png") no-repeat center center;
}

#u6200,#menuu6202,#u6253,#u6246,#u6210,#u6203,#u6224,#u6217,#u6260,#u6188,#u6190,#u6192,#u12420-24
{
	position: relative;
}

#u12420-3,#u12420-6,#u12420-9,#u12420-12,#u12420-15,#u12420-18,#u12420-21
{
	font-size: 15px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12421-14
{
	line-height: 1.6;
	font-size: 15px;
	font-family: maven-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u12421-3,#u12421-6,#u12421-9,#u12421-12
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12420,#u12420-4,#u12420-7,#u12420-10,#u12420-13,#u12420-16,#u12420-19,#u12421,#u12421-4,#u12421-7,#u12421-10
{
	font-size: 14px;
}

#u11544
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #85B9EA url("../../images/twitter.png") no-repeat center center;
}

#u11545
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #6678C5 url("../../images/facebook.png") no-repeat center center;
}

#u11546
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: #607BA1 url("../../images/tumblr.png") no-repeat center center;
}

#u11543:hover,#u11544:hover,#u11545:hover,#u11546:hover
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-3  span,#u12420-3  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-6  span,#u12420-6  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-9  span,#u12420-9  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-12  span,#u12420-12  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-15  span,#u12420-15  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-18  span,#u12420-18  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12420-21  span,#u12420-21  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-3  span,#u12421-3  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-6  span,#u12421-6  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-9  span,#u12421-9  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a,#u12421-12  span,#u12421-12  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.6;
}

